<table>
  <% for post in posts %>
    <tr valign="top">
          <td>
            <%= link_to "Vote Up", vote_path(post, direction: +1), :remote => true %>
          </td>
          <td>
           <%= link_to "Vote Down", vote_path(post, direction: -1), :remote => true %>
          </td>
          <td>
            <strong><%= link_to post.title, post_path(post) %></strong>
            <span id="post-<%= post.id %>" class="vote-count"> <%= pluralize post.vote_count, "point" %></span>
             posted <%= time_ago_in_words post.created_at %>
          </td>
          <td>
            <%= link_to "Join Team", team_assignments_path(post_id: post.id), method: "post" %>
          </td>
    </tr>
  <% end %>
</table>