<h1><%= @header_text %></h1>

<%= link_to "Hot", { action: 'posts', order: 'hot' } %>
<%= link_to "New", { action: 'posts', order: 'new' } %>
<%= link_to 'New Post', new_post_path %>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Vote count</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td><%= post.vote_count %></td>
        <td><%= post.user_id %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


