<h1><%= @header_text %></h1>

<%= link_to "Hot", { action: 'submissions', order: 'hot' } %>
<%= link_to "New", { action: 'submissions', order: 'new' } %>
<%= link_to 'New Post', new_post_path %>

<table>
	<% for post in @posts %>
		<tr valign="top">
			<td>
				<%= link_to "Up", 
													url: { action: 'modify_points',
																id: post.id,
																direction: 1 },
													update: "post" + post.id.to_s,
													remote: true %>
			</td>
			<td>
				<%= link_to "Down", 
													url: { action: 'modify_points',
																id: post.id,
																direction: -1 },
													update: "post" + post.id.to_s,
													remote: true %>
			</td>
			<td>
				<strong><%= link_to post.title, post_path(post) %></strong>
				<span id="post<%= post.id.to_s %>"><%= post.vote_count %></span>
				points posted <%= time_ago_in_words post.created_at %>
			</td>
		</tr>
	<% end %>
</table>

<%= will_paginate @posts %>

