<h1><%= @header_text %></h1>

<%= link_to "Hot", { action: 'submissions', order: 'hot' } %>
<%= link_to "New", { action: 'submissions', order: 'new' } %>
<%= link_to 'New Post', new_post_path %>

<table>
	<% for post in @posts %>
		<tr valign="top">
			<td>
				<%= link_to_remote "Up", 
													url: (action: 'modify_points',
																id: post.id,
																direction: 1 ),
													update: "post" + post.id.to_s %>
			</td>
			<td>
				<%= link_to_remote "Down", 
													url: (action: 'modify_points',
																id: post.id,
																direction: -1 ),
													update: "post" + post.id.to_s %>
			</td>